$primary-color: #ff0000;
$primary-text-color: #f4f4f4;
$secondary-color: #e65100;
$background-color: #000;
$card-background-color: #00695c;
$card-hover-color: #00897b;
$card-hover-secondary-color: #ffa000;
$navbar-background-color: rgba(0, 0, 0, 0.8);
$font-stack: 'Poppins', sans-serif;
