/* css classes for about page */
#about-area {
  padding: 1.25rem;
  background: #ddd;
}

#about-area div {
  max-width: 960px;
  margin: auto;
}

#about-area h3 {
  text-align: center;
}

#about-area img {
  display: none;
}

#testimonials-area {
  background: #004d40;
  color: #fff;
  padding: 1rem;
}

#testimonials-area h3 {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.2rem;
}

#testimonials-area > div {
  display: flex;
  flex-direction: column;
}

#testimonials-area > div section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 960px;
  margin: auto;
  text-align: left;
  background: #00796b;
  margin-bottom: 10px;
  border-radius: 10px;
}

#testimonials-area > div section img {
  display: block;
  height: 4.4rem;
  float: left;
  padding: 0.3rem;
  margin-right: 1.25rem;
  border-radius: 50%;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  #about-area div {
    display: flex;
  }

  #about-area img {
    display: block;
    height: 250px;
    border: solid 1px #333;
    background: #fff;
    padding: 2px;
  }
}
