/* fonts... */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

section p {
  font-size: 0.9rem;
  padding: 0.7rem;
  text-align: center;
}

footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 0.4rem;
}

form {
  padding: 0 2rem;
  margin: 0 1rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
}

.form-control input,
textarea {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.63rem;
  border: solid 1px #ddd;
  outline: none !important;
}

.form-control button {
  width: 100%;
}

.page-title {
  margin: 2rem 0 1rem 0;
  text-align: center;
  color: #ef6c00;
}

.page-sub-title {
  text-align: center;
  color: #004d40;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  section p {
    font-size: 1rem;
  }

  section i {
    font-size: 1.3rem;
  }
}
