@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #0d47a1,
    #2a67b9,
    #4988d0,
    #6ba9e5,
    #90caf9
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  width: 60px;
}

.page-title {
  font-weight: 300;
  margin-left: 10px;
}

.container {
  max-width: 480px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: solid 1px #b2b2b2;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Form & Input */

.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}

.btn-primary {
  background-color: #2a67b9;
}

.btn-primary:hover {
  background-color: #6ba9e5;
  color: #333;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background: #ef6c00;
  /* background: transparent; */
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f58932;
}

.text-red {
  color: red;
}

/* Items */

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 400;
}
