@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #f4f4f4;
  background: linear-gradient(0deg, rgba(9, 9, 121, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1,
h2,
h3,
h4 {
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: center;
}
